<%- include('partials/header') %>
<div class="not-found">
  <div class="nf-code">404</div>
  <h1>Scene Not Found</h1>
  <p>This page went off-script. Let's get you back to the show.</p>
  <a href="/" class="btn btn-red btn-lg"><i class="fas fa-home"></i> Back to Home</a>
</div>
<%- include('partials/footer') %>
